*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style-type: none; /* This removes the markers */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    color: white; /* Set text color to white for better visibility on the black background */
}

.no-scroll-page {
    overflow: hidden;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(pics/intropic.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
     flex-direction: column;
     justify-content: center;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 0; /* For horizontal scrollbars */
    height: 0; /* For vertical scrollbars */
}

/* Optional: Adjust scrollbar-track and scrollbar-thumb for more customization */
::-webkit-scrollbar-track {
    background: transparent; /* Optional: makes track invisible */
}

::-webkit-scrollbar-thumb {
    background: transparent; /* Optional: makes thumb invisible */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%; /* Changed from 95% to 100% */
    z-index: 1000;
    height: 20vmin; /* Fixed height */
    display: flex;
    margin: 0 auto;
    align-items: center; /* This ensures vertical centering within the navbar */
    justify-content: flex-end;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.75), transparent); 
    flex-wrap: nowrap;
}

.navbar ul li:last-child {
    margin-right: 5vw; /* Adjust this value as needed */
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 1.2vw; /* Adjusted margin */
}

.navbar ul li a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3vw;
    text-decoration: none;
    color: #fff;
    text-transform: none;
    transition: color 1s ease, background-color 0.3s ease, opacity 0.3s ease;
}

.navbar ul li a:hover, .navbar ul li a.active {
    color: #fff; /* Maintain the text color */
    background-color: transparent; /* Transparent background */
    opacity: 0.7;
}

/*sidebar*/

.hamburger{
    display: none;
}

.sidebar{
    display: none;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#cursor {
    display: inline-block;
    width: 1ch;
    opacity: 1;
    color: darkcyan;
    animation: blink 1s infinite step-start;
}

@keyframes blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
}

.content_cover, .content_intro, .content_projects, .content_contact {
    animation: fadeIn 1.5s ease-out;
}

/*home*/

.content_cover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 60%;
    text-align: center;
    padding-top: 0px;
}

.content_cover p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 2.5vmin;
    max-width: 60%;
    margin: 5% 20%; 
    height: 10vmin;
}

.content_cover h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 7vmin;
    max-width: 100%;
    margin-top: 15vmin;
}

.quote-container {
    position: relative;
    text-align: center;
  }
  
  .quote {
    position: relative;
    z-index: 2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 7vmin;
    color: #fff;
    inline-size: fit-content;
    margin: 0 auto; /* Centers the text */
  }
  
  .quote-container::before, .quote-container::after {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70vmin; /* Large size for the quotation marks */
    color: rgba(255, 255, 255, 0.2); /* Light color for a subtle background effect */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
.quote-container::before {
  content: '\201C'; /* Unicode for left double quotation mark */
  left: -10vmin;
  top: 15vmin;
}

.quote-container::after {
  content: '\201D'; /* Unicode for right double quotation mark */
  right: -10vmin;
  bottom: -25vmin;
}

/*about*/

.content_intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 60%;
    text-align: center;
    height: auto;
}

.content_intro p {
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    font-size: 2.3vmin;
    white-space: pre-wrap;
    word-wrap:break-word;
    max-width:85%;
    margin: 5% 20%;
    height: 200px; /* Fixed height */
    overflow:visible;
    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
}

.content_intro h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 7vmin;
    color: #fff;
    text-align: center;
    margin-top: 15vmin;
}

/*projects*/

.banner_black {
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
}

.content_projects {
    position: relative; /* Change from absolute to relative */
    top: 0;
    left: 0;
    transform: none; /* Remove transform as it's no longer needed */
    color: white;
    width: 80%;
    text-align: center;
    padding-top: 5%; /* Adjust padding as needed */
    margin: 0 auto; /* Center the content */
    padding-bottom: 25vh;
}

.content_projects h1, .content_projects h2, .content_projects h3, .content_projects p {
    font-size: 2.5vmin;
    margin: 0 auto;
    max-width: 80%; 
}

.content_projects h3 {
    font-size: 3vmin; /* Or any specific size you prefer */
    margin: 0; /* Remove 'auto' to prevent centering */
    max-width: 100%; /* Ensure they can use the full width if needed */
    text-align: left; /* Explicitly align text to the left */
}

.content_projects h1{
    font-size: 7vmin;
    max-width: 100%;
    margin-top: 15vmin;
}

.content_projects p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5vmin;
    max-width: 100%;
    margin: 5vh 0;
}

.project-title-container {
    display: flex;
    justify-content: space-between; /* This will push the button to the far right */
    align-items: center; /* Keeps items aligned vertically in the center */
    width: 100%;
    margin: 20 0vh;
    padding-top: 3vh;
    position: relative;
}

.project-title-container::before {
    content: ''; /* Required for pseudo-elements */
    display: block; /* Or 'inline-block' depending on your layout */
    width: 100%; /* Or adjust to the desired line width */
    height: 1px; /* Line thickness */
    background-color: #fff; /* Line color, adjust as needed */
    margin-right: 10px; /* Space between the line and the title text */
    margin-top: 0;
    position: absolute; /* Position it relative to its parent */
    left: 0; /* Align to the far left of the container */
    top: 0; /* Adjust alignment to ensure it's centered */
}

.right-container {
    display: flex;
    align-items: center; /* Vertically centers the items inside the container */
}

.project-date {
    color: #fff; /* Text color */
    font-size: 2.5vmin; /* Adjust size as needed */
    margin-right: 10px; /* Space between the date and the "Read More" button */
    font-family: 'Courier New', Courier, monospace;
}

.arrow {
    display:inline-flex;
    cursor: pointer; /* Makes the cursor appear as a pointer when hovering over the arrow */
    transition: transform 1s ease;
    position: relative;
    margin-left: 1vw;
}

.arrow svg {
    fill: currentColor; /* Inherits the text color of the parent element */
}

.project-description {
    font-family: 'Courier New', Courier, monospace;
    display: flex !important;
    flex-direction: column; /* Ensures the content flows vertically */
    align-items: flex-start; /* Aligns the items to the right */
    text-align: left; /* Ensures that the text itself is also right-aligned */
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.7s, max-height 0.7s, visibility 0.7s linear 0.7s;
}

.read-more-btn {
    background-color: rgba(157, 9, 118);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.read-more-btn:hover {
    background-color: rgba(157, 9, 118, 0.75);
}

/* Class to rotate arrow and show description */
.arrow.active {
    transform: rotate(180deg);
}

.project-description.show {
    visibility: visible; /* Make visible */
    opacity: 1; /* Fade to fully visible */
    max-height: 500px; /* Enough height to reveal the content */
    transition: opacity 1.5s, max-height 1.5s; /* Ensure transitions are applied for both showing and hiding */
}

/*contact*/

.content_contact {
    position: relative; /* Change from absolute to relative */
    top: 0;
    left: 0;
    transform: none; /* Remove transform as it's no longer needed */
    color: white;
    width: 80%;
    text-align: center;
    margin: 0 auto; /* Center the content */
}

.content_contact h1, .content_contact h2, .content_contact h3, .content_contact p {
    font-size: 2.5vh;
    margin: 0 auto;
    max-width: 80%;
}

.content_contact h1{
    font-size: 7vh;
    max-width: 100%;
}

.content_contact p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5vh;
    max-width: 100%;
    margin: 5vmin 20vmax;
}

.contact_details {
    display: flex;
    flex-direction: row; /* Stack the links vertically */
    align-items: center;
    justify-content: center;
    gap: 1vh; /* Space between links */
}

.contact_link img {
    width: 10vh; /* Example fixed width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures the image takes the full width of the link */
}

.contact_link {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    display: inline-block; /* Changed to flex for better alignment of image and text */
    align-items: center; /* Align image and text vertically */
    justify-content: center; /* Center content inside the link */
    width: 10vh; /* Adjust the width to fit two links per row */
    margin: 1vh; /* Margin for spacing */
}

.contact_link:hover {
    background-color: transparent; /* Transparent background on hover */
    transform: scale(1.1);
}

/*thinking*/

.thoughts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0; /* Adjusted padding */
}

.thought-card {
    display: grid;
    place-items: center;
    background-color: transparent;
    color: whitesmoke;
    width: 60%;
    padding: 4vh 4vw;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: background-color 0.3s ease;
    cursor: pointer;
    min-height: 22vh; /* Minimum height to start with, can grow as needed */
}

.thought-card::before {
    content: ''; /* Required for pseudo-elements */
    display: block; /* Treat the pseudo-element as a block */
    width: 100%; /* Adjust the width as needed */
    height: 1px; /* Thickness of the line */
    background-color: white; /* Color of the line */
    margin: 0 auto 1vh; /* Centers the line horizontally and adds space below it */
    position: absolute;
    top: 0;
}

.thought-card .thought-title, .thought-card .thought-content {
    grid-area: 1 / 1 / 2 / 2; /* Places both title and content in the same grid area */
    place-self: center; /* Center both items in the grid area */
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.thought-card:hover {
    background-color: transparent; /* Slightly transparent background on hover */
}

.thought-card .thought-title {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    font-size: 4vh;
    opacity: 1;
}

.thought-card .thought-content {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vh;
    text-align: justify;
    opacity: 0; /* Content is hidden by default */
    max-width: 80%;
}

.thought-card:hover .thought-title {
    opacity: 0; /* Hide title on hover */
}

.thought-card:hover .thought-content {
    opacity: 1; /* Show content on hover */
}
/*phone*/

/* Media query for smaller screens (phones) */
@media only screen and (max-width: 600px) and (min-device-width: 0px) {
    
    .navbar {
        height: 13vh;  
    }

    .navbar a {
        display: none;
    }

    .hamburger{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        display: block;
        width: 18vw;
        height: 10vh;

        appearance: none;
        background: none;
        outline: none;
        border: none;
    }

    .hamburger .bar, .hamburger::after, .hamburger::before {
        content: '';
        display: block;
        width: 12vw;
        height: 1vh;
        border-radius: 2px;
        background-color: white;
        margin: 1vh 2vh;
        transition: 0.5s;
    }

    .hamburger.is-active {
        opacity: 0;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        display: block;
        z-index: 100;
        background-color: rgba(0,0,0,0.8);
        padding-top: 15vh;
        transition: 0.5s;
    }

    .sidebar.is-active {
        left: 0;
    }

    .sidebar a {
        display: block;
        text-align: center;
        margin: 2vh;
        padding: 2vh;
        color: #fff;
        text-decoration: none;
    }
    

    .content_intro, .content_projects {
        width: 90%;
        height: 75vh;
    }

    .content_cover {
        width: 90%;
        height: 50vh;
    }

    .quote-container::before {
        content: '\201C'; /* Unicode for left double quotation mark */
        left: -5vmin;
        top: 15vmin;
      }
      
    .quote-container::after {
        content: '\201D'; /* Unicode for right double quotation mark */
        right: -5vmin;
        bottom: -16vmin;
      }

    
      .content_cover h1, .content_intro h1, .content_projects h1 {
        font-size: 8vmin;
        line-height: 1.4;
        margin-top: 15vh;
    }

    .content_intro h1 {
        margin-top: 25vh;
    }

    .content_cover p, .content_intro p, .content_contact p {
        font-size: 0.8rem; /* More consistent font sizing */
        line-height: 1.2; /* Improved readability */
        word-wrap: break-word;
    }

    .content_intro p {
        margin: 3vh auto; /* Reduced margin for better space utilization */
        overflow:visible;
        width: 80%;
    }

    .content_projects {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    color: white;
    width: 80%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 25vh;
    margin: 0 auto;
    display: flex; /* Added flex display */
    flex-direction: column; /* Directs children to stack vertically */
    min-height: 100vh; /* Minimum height is set to 100% of the viewport height */
    justify-content: flex-start;
    }

    .project-title-container {
        flex-direction: column; /* Keep the vertical stacking */
        align-items: center; /* Center items horizontally within the container */
        text-align: center;
    }

    .content_projects h3 {
        font-size: 3vh;
        text-align: center;
    }

    .content_projects p {
        font-size: 2vh;
        text-align: center;
    }


    .right-container {
        flex-direction: column; /* Keep the vertical stacking */
        align-items: center; /* Center items horizontally */
        text-align: center; /* Ensure text within is centered */
        margin-top: 3vh;
    }

    .project-date {
        order: 1; /* Ensure the date comes first */
        margin-bottom: 3vh; /* Space between the date and the "Read More" button */
        font-size: 2vh;
    }

    .read-more-btn {
        order: 2; /* Ensure the "Read More" button comes after the date */
    }

    .arrow {
        margin-left: 2vw; /* Remove the left margin from the arrow */
    }

    .project-description {
        order: 0; /* Description comes right after the title when expanded */
        width: 100%; /* Ensure the description takes the full width */
        font-size: 2vh;
        text-align: center;
        align-items: center;
    }

    .thought-card{
        width: 80%;
    }

    .thought-card .thought-content {
        font-size: 1.5vh;
        max-width: 100%;
    }

    .arts-section{
        margin-top: 30vh;
    }

    .content_contact h1{
    font-size: 10vw;
    max-width: 100%;
    line-height: 7.5vh;
}

.content_contact p{
    font-size: 4vw;
    margin: 5vw 0;
}

.contact_details {
    display: flex;
    flex-direction: row; /* Stack the links vertically */
    align-items: center;
    justify-content: center;
    gap: 5vw; /* Space between links */
}

.contact_link {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_link img {
    width: 13vmin; /* Example fixed width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures the image takes the full width of the link */
    padding: 0vw 10vw;    
}


}